
#Android generated
bin
gen

#Eclipse
.project
.classpath
.settings
.checkstyle

#IntelliJ IDEA
.idea
*.iml
*.ipr
*.iws
classes
gen-external-apklibs
out

#Maven
target
release.properties
pom.xml.*

#Ant
build.xml
ant.properties
local.properties
proguard.cfg
proguard-project.txt

#gradle
build
.gradle

#Crashlytics
res/values/com_crashlytics_export_strings.xml
/src/main/assets/crashlytics-build.properties
/src/main/res/values/com_crashlytics_export_strings.xml

#Other
.DS_Store
tmp
*~
/crashlytics.properties
assets/crashlytics-build.properties


/mapping.txt
/class_files.txt
/seeds.txt
/unused.txt

#Credential
globalmall.keystore
rgmmall.keystore

#APKs
.apk
release-notes.txt/buildscript/tkSimpleDialog.pyc
/buildscript/ttkcalendar.pyc
/release-notes.txt
/buildscript/tkSimpleDialog.pyc

#mallconfig is copied.
/src/test/assets/json/mallconfig
/api/src/test/assets/json/mallconfig

